mixin page-three-girls()
    .container
        .girls__container
            p.girls__title Our girls are cold and lonely
            button.girls__button.js-button-signup Sign up
            img(src="./img/content/gift-top.png" alt="Gift").girls__podarok_top
            img(src="./img/content/gift-left.png" alt="Gift").girls__podarok_left
            img(src="./img/content/gift-right.png" alt="Gift").girls__podarok_right
            img(src="./img/content/three-girls.png" alt="Girls").girls
            