mixin page-cristmas-tree()
    .container_hot
        .container__hot-overlay
            form.hot__form
                h1.hot__title December <span>will be hot</span>
                input(type="email" required name="email" placeholder="E-mail").hot__input
                button(type="submit").hot__button Sign up
                img(src="./img/content/toys.png" alt="Toys").hot__toys
            img(src="./img/content/two-girl.png" alt="Two girls").hot__two-girls
            img(src="./img/content/girl-gift.png" alt="Girl").hot__girl-gift
            //- .girl__container